# Configuración para desarrollo local
DEBUG=True
SECRET_KEY=django-insecure-e$hr8m&fp+3uyshzs@y9n80zr3#4i-1@i5*15t3za*#1m!)8ze
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos local
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
